body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "Helvetica"; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gridItem {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 6px;
  font-size: 15px;
  margin: 4px;
  vertical-align: middle;
  background-color: #ebebeb;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  padding: 0px;
}

@media only screen and (max-width: 600px) {
  .example {
    background: red;
  }
}

@media only screen and (min-width: 600px) {
  .example {
    background: green;
  }
}

@media only screen and (min-width: 768px) {
  .example {
    background: blue;
  }
}

@media only screen and (min-width: 992px) {
  .example {
    background: orange;
  }
}

@media only screen and (min-width: 1200px) {
  .example {
    background: pink;
  }
}

.gi-large {
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.gi-medium {
  width: 44px;
  height: 44px;
  line-height: 44px;
}

.gi-small {
  width: 32px;
  height: 32px;
  line-height: 32px;
}

#grid {
  padding: 4px;
}

.obstacle {
  background: rgb(70, 70, 70);
  background: linear-gradient(
    45deg,
    rgba(70, 70, 70, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.gridItem.pathObject {
  background: rgb(9, 115, 121);
  background: linear-gradient(
    45deg,
    rgba(9, 115, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.highlight {
  width: 30px;
  height: 30px;
  border-width: 2px;
  background-color: #afa;
}

#header-container {
  position: relative;
}

#header-container canvas,
#overlay {
  position: absolute;
}

.header-div {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.header-text {
  font-size: 75px;
  background: rgb(188, 197, 206);
  background: linear-gradient(
    140deg,
    rgba(188, 197, 206, 1) 0%,
    rgba(147, 159, 174, 1) 100%
  );
  background-clip: text;
  color: transparent;
}

.secondary-header-text {
  font-size: 30px;
  color: black;
}

.outer-header-div {
  display: table;
  height: 100vh;
  width: 100vw;
}

.clickable-card {
  border: 0px;
  border-radius: 10px;
  box-shadow: 1;
}

.clickable-card:hover {
  box-shadow: 5;
}

.glass-card {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  padding: 4%;
  margin: 20px;
  min-height: 75vh;
}

.subtext {
  font-size: 14px;
}
